#page-desktop {
    background-image: url("/assets/pranali_reloaded/images/desk.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}