/* login-css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  align-items: center;
}

.copy-right-area, .navbar, .d-flex {
  display: none;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.wave2 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: rotate(180deg);
  z-index: -1;
}

.container-new {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img img {
  width: 100%;
}

form {
  width: 360px;
}

.login-content img {
  height: 65px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  /* grid-template-columns: 7% 93%; */
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: .3s;
}

.input-div>div {
  position: relative;
  height: 45px;
}

.input-div>div>h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.input-div:before, .input-div:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #d91b5c;
  transition: .4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
  width: 50%;
}

.input-div.focus>div>h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus>.i>i {
  color: #d91b5c;
}

.input-div>div>input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: 'poppins', sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
  /* grid-template-columns: 7% 93% 2%; */
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}

a:hover {
  color: #555;
}

.btn {
  display: block;
  width: 100%;
  height: 40px;
  /* border-radius: 25px; */
  outline: none;
  border: none;
  background-color: #d91b5c;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.registrations {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.btn:hover {
  background-position: right;
  background-color: #fff;
  color: #d91b5c;
  border: 1px solid #d91b5c;
}

.btn-social {
  padding-top: 8px;
}

.social-logins a:hover {
  background-color: #fff;
  color: #d91b5c;
  border: 1px solid #d91b5c;
}

.login-content.page-card {
  max-width: 360px;
  /* padding: 15px; */
  border: 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
}

.login-content.page-card .page-card-head {
  border-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.login-content.page-card .form-signin .form-control {
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.toggle-password {
  top: 12px;
  position: absolute;
  right: 11px;
  cursor: pointer;
}

.page_content .form-footer {
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
}

.page_content .indicator.blue::before, .page_content .indicator-right.blue::after {
  background-color: #fff;
}

.page_content .form-footer h6 {
  font-size: 16px;
  text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
  .container-new {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }
  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0;
  }
  .container-new {
    grid-template-columns: 1fr;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
  }
  .img {
    display: none;
  }
  .wave, .wave2 {
    display: none;
  }
  .login-content {
    justify-content: center;
  }
}